body{
    margin:0;
    font-family:Arial, sans-serif;
}

#sidebar{
    width:300px;
    height:100vh;
    overflow-y:auto;

    position:fixed;
    left:0;
    top:0;

    background:#f5f5f5;

    padding:20px;

    transition:0.3s;
}

#sidebar.hidden{
    left:-320px;
}

#sidebar label{
    display:block;
    margin-top:15px;
    font-weight:bold;
}

#sidebar select{
    width:100%;
    padding:5px;
}

#sidebarToggle{
    position:fixed;
    top:10px;
    left:10px;
    z-index:1000;
}

#mainContent{
    margin-left:340px;
    padding:20px;
}

.command-card{
    border:1px solid #ccc;
    margin-bottom:20px;
    padding:15px;
    border-radius:8px;
}

.command-card h3{
    margin-top:0;
}

#summary {
    margin: 10px 0 20px 0;
    padding: 10px;
    background: #eef;
    border-radius: 6px;
}

#pagination {
    margin-top: 20px;
    text-align: center;
}

.page-link {
    display: inline-block;
    margin: 3px;
    padding: 6px 10px;
    border: 1px solid #ccc;
    cursor: pointer;
    border-radius: 4px;
    background: white;
}

.page-link.active {
    background: #333;
    color: white;
}

* {
    box-sizing: border-box;
}

#homeView,
#mainContent {
    margin-left: 340px;
    padding: 20px;
}